body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
}
header{
    display: flex;    
    background-color: #c3c3c3;
    ;
  
}
.logo{
    display: flex;
    align-items: left;
    text-align: left;
    margin-right: 60%;
    margin-left: 75px;
    margin-top: 20px;
}
.link{
    display: flex;
    justify-content: right;
    text-decoration: none;
    align-items: flex-start;
    padding-right: 10px;
    margin-top: 20px;
}
.container1{
    display: flex;
    width: 100%;
    background-color: #c3c3c3;

}
.intro{
    display: flex;
    margin-left: 75px;
    padding-top: 40px;
    font-size: 48px;
    font-style: inherit;
}
.previa{
    display: flex;
    width: 200px;
    margin-left: 75px;
    padding-top: 15px;

}
.retan{
    display:   flex;
    background-color: #9f9f9f;
    width: 800px;
    height: 250px;
    margin-right: 75px;
    margin-left: 43%;
    margin-top: -120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

}
#pirmeiro_icon{
    display: flex;
    margin-left: 60%;
}
.icone{
    display: flex;
    margin-top: 10px;
    width: 55px;
    height: 55px;
    margin-right: 10px;
}
.topicos{
    justify-content: center;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.colun{
    flex: -1;
}
.quadro{
    background-color: #c3c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.feed{
    display: flex;
    background-color: #c3c3c3;
    height: 100px;
    margin-left: 205px;
    margin-right: 184px;    
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.rodape{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #c3c3c3;
    margin-top: 30px;
    align-items: center;
}
.coop{
    display: flex;
    align-items: center;
    padding-left: 44.5%;
    justify-content: right;
}
#primLink{
    margin-left: 205px;
}

